
.et_pb_row et_pb_row_1{
padding-top: 2px!important;
    padding-right: 2px!important;
    padding-bottom: 2px!important;
    padding-left: 2px!important;
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .4s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
.readmore__content {
  max-width: 45rem;
  width: 100%;
  display: flex;
}

button.readmore__toggle {
  color: #FFFFFF!important;
    border-width: 1px!important;
    border: 1px solid #1fb6ea;
    border-radius: 50px;
    background-color: #1fb6ea;
    padding: 5px 10px;
}
.imagess{

	position: relative;

	overflow: hidden;
}
.imagess img{
	opacity:1;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}
.imagess .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
  word-wrap: break-word;
}

.imagess .details h3{
  color: #fff;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}
.imagess .details p{
  color: #ffffff;
	margin: 30px 30px 0 30px;
	font-size: 18px;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}
.imagess:hover img{
	opacity: 0.7;
}
.imagess:hover .details h3{
  color: #ffffff;
	transform: translateY(-30px);
}
.imagess:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.image22:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}
.image22:hover img{
	opacity: 1;
}
.vipnav:hover {
  color:#2ea3f2;
}
.bg-vip-left{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.13769257703081228) 0%, rgba(0,212,255,0.14329481792717091) 100%);
}
.bg-vip-right{
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,0.13769257703081228) 0%, rgba(255,255,255,1) 100%);
}
  
  .fade-in:hover {
    opacity: 1.00;
  }


.et_pb_section et_pb_section_2 home-page-service et_pb_with_background et_section_regular{
font-family: Open Sans,Arial,sans-serif;
color: #666;
line-height: 1.7em;
font-weight: 500;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
margin: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
background-repeat: no-repeat;
position: relative;
background-position: 50%;
background-size: cover;
padding-top: 50px;
padding-right: 0px;
padding-bottom: 20px;
padding-left: 0px;
background-color: #f3f5f9!important;
top:40%;
}
              .image2 {
  position: absolute;
  top: 150px;
  left: 90px;
  width: 35%;
  height: 50%;
}

 .image21 {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 25%;
  height: 40%;
  
}
.image31 {
  position: absolute;
  top: 115px;
  left: 85px;
  width: 35%;
  height: 50%;
  
}
.image41 {
  position: absolute;
  top: 115px;
  left: 85px;
  width: 40%;
  height: 44%;
  
}
.image51 {
  position: absolute;
  top: 115px;
  left: 85px;
  width: 33%;
  height: 42%;
  
}
              .carousel-item figcaption {
position: absolute;
font-family: 'Montserrat';
    color: #ffffff;
    font-size: 156.25%;
    text-shadow: none;
    line-height: 1.3;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: bold;
}
              .et_pb_section_1.et_pb_section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.et_pb_text_inner {
  font-family: "Poppins";
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    text-align: center;
    position: relative;
    background-position: 50%;
    top: 2%;
    left:5%;
      }
.container12 {

        width: 450px;
        height: 300px;
        float:  right;
   }
              
.box12 {
    background-image: url(https://www.fidelsoftech.com/wp-content/uploads/2023/01/BG-Color-Gif.gif);
    background-color: #1fb6ea;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    padding-top: 20px!important;
    padding-right: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 20px!important;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color :white;
                width: 80%;
                height: 80%;
                padding: 20px;
                top:90%;
              }


              .flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 100px;
  padding: 20px;
  font-size: 30px;
}